.footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #f48240;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_social_media{
    width: 12vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ___________________________ R E S P O N S I V I D A D E___________________________*/

@media  (max-width:767px){
    .footer_social_media{
        width: 32vw;
    }

}

@media  (min-width:768px) and (max-width:1024px){
 
    .footer_social_media{
        width: 20vw;
    }

}