.footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: darkblue;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_social_media{
    width: 12vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}