/* Politicas */
.politicas{
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* overflow: hidden;  
    display: flex;
    justify-content: center;  */
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
}


.regra{
    width: 80vh;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
  
}

.regra h4{
    min-width: 188px;

}

.regras h1{
    text-align: center;
}

/* ___________________________ R E S P O N S I V I D A D E___________________________*/

@media  (max-width:767px){

    .regras{
        width: 100vw;
        margin-top: 8%;
        height: 90vh;
        margin-right: 50px;
    }
/* 
    .regra{
        height: 50vh;
    } */

    .politicas{
        width: 90vw;
        grid-template-columns: 1fr;
        height: 70vh;
        
    }
    .regra h4{
        width: 0%;
        text-align: left;
        font-size: medium;
        min-width: 100px;
        
    }
    .description_police{
        width:70vw;
        /* padding:1rem; */
    }

    .description_police  p{
        max-width: 57vw;
        /* width: 100%; */
        font-size: smaller;
        margin:0;
    }
    

}

@media  (min-width:768px) and (max-width:1281px){

    .regras{
     margin-bottom: 10%;
    }
    .politicas{
        width: 98vw;
        grid-template-columns: 1fr;
        height: 60vh;
        margin-bottom: 10%;
        
    }

    .regra{
        width: 90vw;
        justify-content:space-between;
    }
    .regra h4{
        width: 30%;
        text-align: left;
        min-width: 100px;
        
    }

    .description_police{
        width:70vw;
        /* padding:1rem; */
    }


    .description_police  p{
        max-width: 57vw;
        /* width: 100%; */
        font-size: 20px;
        margin:0;
    }

}





