*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    position: relative;
}

body {
    min-height: 100vh;
}

.body{
    width: 100vw;
    text-align: center;
}

.second_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 25vh;
    background-color: #f48240;
    color: white;
}

.second_header h2{
    overflow-y: hidden;
}

.second_header input{
    padding: 4px;
    border: none;
    width: 20vw;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}

.input_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_header{
    width: 8vw;
    margin: 1rem;
    border-radius: 8px;
    background-color: green;
    color: white;
    border: none;
    padding: 8px;
}


.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 45vh;
}

.categories_title{
    width: 100vw;
    height: 6.5vh;
    text-align: center;
}

.categories_cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 40vh;
    background-color: white;
}

.card_home{    
    width: 21vw;
    height: 37vh;
    border: 1px solid rgba(223, 228, 234, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.recomendations_title{
    margin: 0.7rem;
    text-align: center;
    overflow-y: hidden;
}

.recomendations{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}

.recomendacoes{
    margin-top: 2rem;
    background-color: #ababab96;
}