body {
    min-height: 100vh;
}

.login{
    height: auto;
    overflow-y: hidden;
    position: relative;
    margin-top: 15vh;
}

.login_field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
}

.login_flex{
    margin-top: 8vh;
}

.title{
    overflow: hidden;
    text-align: center;
}

.login_input_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_input_flex input{
    margin: 0.5rem;
    width: 30vw;
    border-radius: 8px;
    padding: 8px;
}

.btn_login{
    width: 8vw;
    margin: 1rem;
    border-radius: 8px;
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
}