*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

.images{
    display:flex;
    flex-direction: column;
    align-items:flex-end;
}

.btn_modal{
    height:5vh;
    width:10vw;
    border: none;
    background-color:white;

}

.grid_images{
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.grid_images .img1{
    grid-row-start: 1;
    grid-row-end: 3;
}

.img1{
    width: 50vw;
    height: 50vh;
}


/* #img_car{

} */